Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteCond %{REQUEST_URI} ^/pages/
RewriteRule ^pages/(.+)$ /$1 [R=301,L]

ErrorDocument 404 /pages/Error404.html